@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between; /* To separate logo and links */
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #F35200;
  padding:  0 20px;
  z-index: 1;
}

.links {
  display: flex;
  gap: 50px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #F1DBAE;
  align-items: center;
}

.sidebar {
  background-color: #002922;
  width: 250px;
  padding-top: 40px;
  position: fixed;
  top: 80px; /* Height of the navbar */
  bottom: 80px; /* Height of the footer */
  right: 0;
  overflow-y: auto;
  text-align: center;
  border-radius: 20px;
  margin-right: 25px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 30px;
  block-size: 300px;
  font-family: "Overpass", sans-serif;
  color: #F1DBAE;
  z-index: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F35200;
  height: 80px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.home{
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center cards horizontally */
  background-color: #FCF7ED;
}

.card {
  --main-color: #002922;
  --bg-color: #FCF7ED;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  margin: 1rem ;
}

.card img {
  width: 300px; /* Make the image responsive within its container */
  height: 200px; /* Maintain aspect ratio */
  
  object-fit: cover; /* Preserve the image's aspect ratio while maintaining its fill */
  border-radius: 20px;
}
.card__title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  font-family: "Rubik", sans-serif;
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
  text-align: center;
  font-family: "Overpass", sans-serif;
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
  margin-inline: 10px;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.recipe-list {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-inline: 150px; /* 250px is the width of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-list-title{
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #002922;
}

.form {
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  gap: 10px;
  z-index: 2;
}

.form_label{
  font-size: 20px;
  font-weight: 600;
  color: #002922;
  margin-left: 20px;
}

.form_btn{
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #002922;
  color: #F1DBAE;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.form_btn:hover{
  background-color: #F2AB2D;
  transform: scale(1.1);
  color: #002922;
}

.form_btn:active{
  background-color: #F35200;
  transition: all 0.25s;
  color:#F1DBAE;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
  cursor: pointer;
}

.list-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center cards horizontally */
}

.about{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #FCF7ED;
  padding-inline: 400px;
  padding-block: 200px;
}

.about p{
  font-size: 20px;
  color: #002922;
  margin: 10px;
  font-family: "Overpass", sans-serif;
  text-align: center;
}

.about img{
  margin-top: 80px;
}

.authors{
  font-family: "Overpass", sans-serif;
}

.not-found {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCF7ED;
  font-size: 20px;
  color: #002922;
  text-align: center;
}

.not-found h1{
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 300px;
  color: #002922;
}

.not-found p {
  margin: 20px;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #002922;
}

.item-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCF7ED;
  z-index: 1;
  
}

.item-details h1{
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #002922;
  margin: 10px;
}
.item-details p {
  margin: 10px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #002922;
}

.item-details img {
  height: 400px;
  width: auto;
  border-radius: 20px;
  margin: 10px;
}

.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: #002922;
  overflow: hidden;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: #F1DBAE;
}

.text {
  position: absolute;
  color: #F1DBAE;
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #002922;
  color: #F1DBAE;
}


.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

@media (max-width: 768px) {
  .list-container {
    max-width: 100%; /* Adjust card width for smaller screens */
  }
  .item-details {
    max-width: 100%;
  }
  .form {
    max-width: 100%;
  }
}